<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <title>Easy Flex - Vehicle Hire</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/polls/styles.css' %}"/>
    {#    <script src ="{% static '/polls/page.js' %}" ></script>#}
</head>
<body>
<div class="header" id="myHeader">
    <a href="{% url 'index' %}" class="logo"> EasyFlex &nbsp;</a>
    <img class="carlogo" src="{% static '/polls/car.png' %}">
    <div class="header-right">
        <a class="active" href="{% url 'index' %}"> Home </a>
        <a href="ViewVehicles"> Vehicles </a>
        <a href="{% url 'reviews' %}"> Reviews </a>
        <a href="{% url 'login' %}"> Log In </a>
        <a href="{% url 'about' %}"> About </a>
    </div>
</div>
<div class="main">
    <br><br><br><br><br>
    <div class="bookVehicle">
        <div class="forms">
            <h1 align="center"> Book a Vehicle</h1>
            <br>
            <form action="searchVehicle" method="post">
                &nbsp;&nbsp;1. Branch Location: &nbsp;
                <input name="branch" list="branch" type="text" placeholder="Location...">
                <datalist id="branch">
                    <option value="Norwich Airport"></option>
                    <option value="Norwich (City)"></option>
                    <option value="London Heathrow"></option>
                    <option value="London Gatwick"></option>
                    <option value="Cambridge"></option>
                </datalist>
                <br><br><br>
                &nbsp;&nbsp; 2. Vehicle Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="vehicle" list="vehicle" type="text" placeholder="Vehicle Type...">
                <datalist id="vehicle">
                    <option value="Car"></option>
                    <option value="Luxury"></option>
                    <option value="Van"></option>
                    <option value="Bus"></option>
                </datalist>
                <br><br><br><br>
                &nbsp;&nbsp;3. Pick Up Date and Time:
                <br><br>
                <div class="pickup">
                    <input name="pickUpDate" type="date">
                    <input name="pickUpTime" type="time">
                </div>
                <br>
                &nbsp;&nbsp; 4. Return Date and Time:
                <br><br>
                <div class="return">
                    <input name="returndate" type="date">
                    <input name="returntime" type="time">
                </div>
                <br><br>
                <input type="checkbox" name="terms" value="terms"> I have read and accepted the terms and conditions
                <br><br>
                <input type="submit" value="Book Vehicle" id="bookvehicle">
            </form>
        </div>
    </div>

    <br><br>
    <br><br><br><br><br>
    <br><br><br><br><br><br><br><br>

    <div class="footer">
        <hr>
        <h2> &nbsp;&nbsp;&nbsp;&nbsp; Easy Flex Vehicle Hire</h2>
        <br>
        <div class="emailsignup">
            <input name="emailsign" type="email" placeholder="Sign Up for Email">
            <input type="submit" value="Sign Up">

        </div>
        <div class="socialmedia">
            <a href="https://www.facebook.com/">
                <img src="{% static '/polls/facebook.png' %}" width="30px" height="30px" alt="facebook"></a>
            &nbsp;&nbsp;
            <a href="https://www.twitter.com/">
                <img src="{% static '/polls/twitter.png' %}" width="30px" height="30px" alt="twitter"></a>
            &nbsp;&nbsp;
            <a href="https://www.youtube.com/">
                <img src="{% static '/polls/youtube.png' %}" width="50px" height="30px" alt="youtube"></a>
        </div>
    <br><br><br>
    <hr>
    </div>

    <br><br><br><br>
    <br><br><br><br>


</div>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>
</body>
</html>