<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <title>Easy Flex | About Us and FAQs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/polls/styles.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" id="myHeader">
    <a href="{% url 'index' %}" class="logo"> EasyFlex &nbsp;</a>
    <img class="carlogo" src="{% static '/polls/car.png' %}">
    <div class="header-right">
        <a href="{% url 'index' %}"> Home </a>
        <a href= /polls/vehicles> Vehicles </a>
        <a href="{% url 'reviews' %}"> Reviews </a>
        <a href="{% url 'login' %}"> Log In </a>
        <a class="active" href="{% url 'about' %}"> About </a>
    </div>
</div>
<div class="main">
    <br>
    <div class="faqs">
        <h2> Frequently Asked Questions</h2>
        <br>
        <h3>What is the minimum age I can rent a car?</h3>
        <p> In general, you must be at least 25 years old, with a valid credit card and a full clean driving license for
            at least one year before collection<br><br> This varies from country to country. Contact the relevant branch
            for
            more information.</p>
        <hr>
        <h3>Can I add additional drivers?</h3>
        <p> Yes, EasyFlex does allow one or more drivers to be added to the rental upon collection or during the rental
            period. The cost for this varies between branches. Contact the relevant branch on pricing
            information.<br><br>
            Drivers must be added in person at an EasyFlex branch either at the start or during the rental.
            Drivers cannot be added online or over the phone.<br><br> All drivers must show a driving license and must
            meet
            EasyFlex terms and conditions.</p>
        <hr>
        <h3>What payment methods does EasyFlex accept?</h3>
        <p> Bookings must be made under the renters name, using a credit card under their name. The same credit card
            must be shown on collection as a guarantee.<br><br> Debit cards are only acceptable for online payments and
            the
            debit card must be in the name of the renter. Again, it must be shown on collection.<br><br> For business
            rentals and travel operators, evidence of the booking must be shown along with the drivers credit card. The
            company must ensure that the booking is made in the drivers name, otherwise the driver will not be able to
            collect the vehicle.</p>
        <hr>
        <h3>Can I pay by cash?</h3>
        <p> For some branches, it may be possible to pay by cash. But it is still essential to present a valid credit
            card in the renters name. Contact the relevant branch for more information</p>
        <hr>
        <h3>Will I be asked to leave a deposit upon collection?</h3>
        <p> Upon collection, regardless of the level of insurance, the main driver will be have to leave a guarantee
            deposit. The deposit will be blocked on the main drivers credit card and will be unlocked upon returning the
            vehicle
            <br><br> The deposit is calculated based on the estimated cost for the rental, a tank of fuel and any
            additional
            services or features you may request (e.g. satnav, child seats)</p>
        <hr>
        <br><br><br><br><br><br>
    </div>
    <br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br>
    <div class="contactUs">
        <h2> Contact Us:</h2><hr>
        <p> Email: easyflex-customerservice@easyflex.com</p>
        <p> Phone: 01603 888456</p>
        <p> Address:<br>&nbsp;&nbsp; 32 Chancellors Drive<br> &nbsp;&nbsp; Norwich Retail Park<br>&nbsp;&nbsp; Norwich
        <br>&nbsp;&nbsp; NR1 4ES</p>
        <br><br><br>
    </div>
    <br><br>
    <br><br><br><br><br><br><br> <br><br>
    <br><br>

    <div class="footer">
        <hr>
        <h2> &nbsp;&nbsp;&nbsp;&nbsp; Easy Flex Vehicle Hire</h2>
        <br>
        <div class="emailsignup">
            <input name="emailsign" type="email" placeholder="Sign Up for Email">
            <input type="submit" value="Sign Up">

        </div>
        <div class="socialmedia">
            <a href="https://www.facebook.com/">
                <img src="{% static '/polls/facebook.png' %}" width="30px" height="30px" alt="facebook"></a>
            &nbsp;&nbsp;
            <a href="https://www.twitter.com/">
                <img src="{% static '/polls/twitter.png' %}" width="30px" height="30px" alt="twitter"></a>
            &nbsp;&nbsp;
            <a href="https://www.youtube.com/">
                <img src="{% static '/polls/youtube.png' %}" width="50px" height="30px" alt="youtube"></a>
        </div>
        <br><br><br>
        <hr>
    </div>
    <br><br>
    <br><br>
    <br><br>
</div>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>

</body>
</html>