<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
  <!-- Add additional CSS in static file -->
  <link rel = "stylesheet" href = "static/styles.css" >
</head>
<body>
    <div class="row">
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>