<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <title>Easy Flex | Reviews</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/polls/styles.css' %}"/>
</head>
<body>
<div class="header" id="myHeader">
    <a href="{% url 'index' %}" class="logo"> EasyFlex &nbsp;</a>
    <img class="carlogo" src="{% static '/polls/car.png' %}">
    <div class="header-right">
        <a href="{% url 'index' %}"> Home </a>
        <a href=/polls/vehicles> Vehicles </a>
        <a class="active" href="{% url 'reviews' %}"> Reviews </a>
        <a href="{% url 'login' %}">Log In </a>
        <a  href="{% url 'about' %}"> About </a>
    </div>
</div>
<div class="main">


    <br><br>
    <br><br><br><br><br>
    <br><br>

    <div class="footer">
        <hr>
        <h2> &nbsp;&nbsp;&nbsp;&nbsp; Easy Flex Vehicle Hire</h2>
        <br>
        <div class="emailsignup">
            <input name="emailsign" type="email" placeholder="Sign Up for Email">
            <input type="submit" value="Sign Up">

        </div>
        <div class="socialmedia">
            <a href="https://www.facebook.com/">
                <img src="{% static '/polls/facebook.png' %}" width="30px" height="30px" alt="facebook"></a>
            &nbsp;&nbsp;
            <a href="https://www.twitter.com/">
                <img src="{% static '/polls/twitter.png' %}" width="30px" height="30px" alt="twitter"></a>
            &nbsp;&nbsp;
            <a href="https://www.youtube.com/">
                <img src="{% static '/polls/youtube.png' %}" width="50px" height="30px" alt="youtube"></a>
        </div>
        <br><br>
    <hr>
    </div>
    <br><br>
    <br><br>
    <br><br>
</div>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>

</body>
</html>