body {
    background-color: steelblue;
    height:100%;
}

h1 {
    font-size: 32px;
    color: black;
    font-style: normal;
    padding-bottom: 20px;
    font-family:  "Calibri";
}

h2{
    font-family: "Calibri";
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 5px;
    width: 70%;
    margin: 0 auto;
    border-radius: 4px;
}

.carlogo {
    height: 60px;
    width: 60px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    position: sticky;
    top:0;

}

.header a.logo {
    font-family: Impact;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}


.header a:hover {
    background-color: #ddd;
    color: black;
}


.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    font-family: "Arial Unicode MS";
    float: right;
    margin-right: 100px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.main {
    width: 70%;
    height: 1500px;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    opacity: 1;
    border:none;


}

.bookVehicle {
    width: 85%;
    height: 700px;
    padding: 20px 10px;
    margin:0 auto;
    background-image: url("driving-background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 850px;
    display: block;
    border-radius: 4px;
    border:none;
}

.forms{
    height: 100%;
    width: 45%;
    float: left;
    background-color: rgba(256,256,256,0.5);
    font-size: 22px;
    font-family:  "Calibri";

}

input[type=text]{
    font-size: 18px;
    font-family:  "Arial Unicode MS";
    padding: 7px 14px;
    /*float: right;*/
    margin-right: 15px;
    border-radius: 4px;
    border:none;
}

input[type=date]{
    font-size: 14px;
    font-family:  "Arial Unicode MS";
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    border:none;
}

input[type=time]{
    font-size: 14px;
    font-family:  "Arial Unicode MS";
    padding: 5px 4px;
    text-align: center;
    border-radius: 4px;
    border:none;
}
.pickup, .return{
    margin: auto;
    width: 60%;
}

input[type=submit] {
    background-color: dodgerblue;
    color: white;
    margin-right: 30px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type =submit]:hover{
    background-color: steelblue;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    float: left;
}

.sticky + .main {
  padding-top: 102px;
}
hr{
    color: white;
}

.footer{
    color:white;
    width:100%;
    height: 100px;
    float:left;

}
.socialmedia{
    float:right;
    width:15%;
    font-family: "Calibri"
}

.emailsignup{
    float: left;
    width: 400px;
    margin-left: 30px;
}

input[type=email]{
    font-size: 16px;
    font-family:  "Arial Unicode MS";

    padding: 8px 24px;
    text-align: left;
    border-radius: 4px;
    border:none;
}

input[type=password]{
    font-size: 16px;
    font-family:  "Arial Unicode MS";

    padding: 8px 24px;
    text-align: left;
    border-radius: 4px;
    border:none;
}


.faqs{
    color:white;
    margin: 20px;
    width:45%;
    font-family: Calibri;

    float:left;


}
.contactUs{
    color:black;
    float: right;
    width:30%;
    font-family: Calibri;
     padding: 8px 24px;
    text-align: left;
    margin: 20px;
    background-color: rgba(256,256,256,0.5);

}

.userlogin{
    color:black;
    margin:0 auto;
    padding: 8px 18px;
    background-color: rgba(256,256,256,0.5);
    width: 35%;
}